# Client certificate configuration

[ req ]
req_extensions      = v3_req
distinguished_name  = req_distinguished_name

prompt = no

[ req_distinguished_name ]
countryName                     = CN
stateOrProvinceName             = STATE
organizationName                = ORG
organizationalUnitName          = ORG_UNIT
commonName                      = COMMON_NAME
emailAddress                    = EMAIL

[v3_req]
subjectAltName=email:copy
subjectKeyIdentifier=hash

basicConstraints = critical,CA:FALSE,pathlen:0
extendedKeyUsage=clientAuth
keyUsage = critical, digitalSignature, keyEncipherment, keyAgreement

