# Intermediate certificate configuration

[ ca ]
default_ca = int_ca

[ int_ca ]
dir = DIR

new_certs_dir       = $dir
certificate         = $dir/INT_NAME.crt
private_key         = $dir/INT_NAME.key

database            = $dir/INT_NAME.db
serial              = $dir/INT_NAME.crt.srl
crlnumber           = $dir/INT_NAME.crl.srl

default_md       = sha512
default_days     = EXPIRY_DAYS
default_crl_days = EXPIRY_DAYS
unique_subject   = no

policy              = policy_match

copy_extensions     = none
x509_extensions     = v3_ca
req_extensions      = v3_req

cert_opt         = ca_default
name_opt         = multiline,-esc_msb,utf8

email_in_dn             = no
unique_subject          = no 

[ req ]
distinguished_name  = req_distinguished_name
prompt              = no

# Policy defining requirements for sub certificates
[ policy_match ]
organizationName                = match
organizationalUnitName          = supplied
commonName                      = supplied      
emailAddress                    = match

[ req_distinguished_name ]
countryName                     = COUNTRY
stateOrProvinceName             = STATE
organizationName                = ORG
organizationalUnitName          = ORG_UNIT
commonName                      = COMMON_NAME
emailAddress                    = EMAIL

[ v3_req ]
subjectAltName         = email:move

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always

basicConstraints = critical,CA:true,pathlen:0
keyUsage         = critical,keyAgreement,digitalSignature,keyCertSign
nameConstraints  = critical,@nc

[ nc ]
permitted;DNS.0=DOMAIN
permitted;DNS.1=.DOMAIN
permitted;URI.0=DOMAIN
permitted;URI.1=.DOMAIN
permitted;IP.0=0.0.0.0/255.255.255.255
permitted;IP.1=::/ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff
