# Intermediate certificate configuration

[ ca ]
default_ca = req

[ req ]
dir = DIR

new_certs_dir       = $dir
certificate         = $dir/INT_NAME.crt
private_key         = $dir/INT_NAME.key

database            = $dir/INT_NAME.db
serial              = $dir/INT_NAME.crt.srl
crlnumber           = $dir/INT_NAME.crl.srl

default_md       = sha512
default_days     = EXPIRY_DAYS
default_crl_days = EXPIRY_DAYS
unique_subject   = no

policy              = policy_match

cert_opt         = ca_default
name_opt         = multiline,-esc_msb,utf8

email_in_dn             = no
unique_subject          = no 

distinguished_name  = req_distinguished_name

copy_extensions     = copy
x509_extensions     = v3_ca
req_extensions      = v3_req

prompt              = no

# Policy defining requirements for sub certificates
[ policy_match ]
organizationName                = match
organizationalUnitName          = supplied
commonName                      = supplied      
emailAddress                    = match

[ req_distinguished_name ]
countryName                     = COUNTRY
stateOrProvinceName             = STATE
organizationName                = ORG
organizationalUnitName          = ORG_UNIT
commonName                      = COMMON_NAME
emailAddress                    = EMAIL

[ v3_req ]
subjectAltName         = email:move

basicConstraints = critical,CA:true,pathlen:1
keyUsage         = critical,keyAgreement,digitalSignature,keyCertSign
nameConstraints  = critical,@nc

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always

basicConstraints = critical,CA:true,pathlen:1
keyUsage         = critical,keyAgreement,digitalSignature,keyCertSign
nameConstraints  = critical,@nc

[ nc ]
# Allowed DNS names
permitted;DNS.0=DOMAIN
permitted;DNS.1=.DOMAIN
# Allowed URIs
permitted;URI.0=DOMAIN
permitted;URI.1=.DOMAIN
# Enable this to restrict IP ranges for signing
#permitted;IP.0=0.0.0.0/255.255.255.255
#permitted;IP.1=::/ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff